body {
    background-size: cover;
    background-position: center;
    background: url(https://images.unsplash.com/photo-1569272955731-e2bd853aed90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);
    font-family: Lato;
    color: white;
}
html {
    height: 100;
}

#content {
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px red,
                 0px 8px 12px orange,
                 0px 18px 23px yellow;
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #000000;
}

